@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Work+Sans:wght@300;600;800&display=swap');
:root{
    --color-1:#8D331F;
    --color-2:#976C46;
    --color-3:#A79183;
    --color-4:#687B6E;
    --color-5:#263232;
    --color-6:#fff;
    --color-7:#000;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}
header{
    background: red;
    width: 100%;
    height: 100vh;
    background: url('../img/bg-1.png');
    // filter: grayscale(.5);
    background-position: center center;
    // background-attachment: fixed;
    .navegador{
        width: 100%;
        height: 70px;
        // transition: .4s;
        .navegador-link{
            // transition: .4s;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
            a{
                color: white;
                font-size: 20px;
                text-transform: uppercase;
                font-family: 'Work Sans', sans-serif;
                font-weight: 600;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                &:hover{
                    border-bottom: 2px solid var(--color-6);
                }
            }
            i{
                display: none;
            }
        }
        .btn{
            display: none;
        }
        
    }
    .logo{
        // background: #A79183;
        width: 100%;
        height: calc(100% - 70px);
        .logo-titulo{
            // background: red;
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .titulo{
                // background: blue;
                display: flex;
                justify-content: center;
                position: relative;
                h2{
                    font-family: 'Playfair Display', serif;
                    font-size: 150px;
                    text-align: center;
                    color: var(--color-6);
                    line-height: 105px;
                }
            }
        }
        .logo-parrafo{
            // background: green;
            width: 100%;
            height: 20%;
            padding: 0 15%;
            p{
                font-family: 'Playfair Display', serif;
                font-size: 30px;
                text-align: center;
                color: var(--color-6);
            }
        }
        .logo-anuncio{
            // background: purple;
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            p{
                font-size: 30px;
                color: var(--color-6);
                
            }
            .anuncio-icon{
                background: var(--color-6);
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                a{
                    &:visited{color: black;}
                    i{
                        font-size: 50px;
                    }
                    
                }
            }
        }
    }
}
@media screen and (max-width:800px) {
    header{
        .logo{
            .logo-titulo{
                .titulo{
                    h2{
                        font-size: 80px;
                    }
                }
            }
            .logo-parrafo{
                p{
                    font-size: 25px;
                }
            }
            .logo-anuncio{
                padding-top: 30px;
                p{
                    font-size: 20px;
                }
                .anuncio-icon{
                    width: 60px;
                    height: 60px;
                    i{
                        font-size: 30px;
                    }
                }
            }
        }
    }  
}
@media screen and (max-width:400px) {
    header{
        // transition: .4s;
        .navegador{
            // transition: .4s;
            .navegador-link{
                // transition: .4s;
                a{
                    // transition: .4s;
                    display: none;
                }
                i{
                    display: block;
                    color: rgb(255, 255, 255);
                    font-size: 40px;
                }
            }
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
        .logo{
            .logo-titulo{
                .titulo{
                    h2{
                        font-size: 60px;
                    }
                }
            }
            .logo-parrafo{
                p{
                    font-size: 22px;
                }
            }
        }
    }  
}